:root {
  --component-color: #262626;
  --component-background: #171717;
}

.app {
  display: flex;
  gap: 10%;
  width: 90vw;
  height: 80vh;
  font-family: sans-serif;
}

.sidebar,
.resume {
  display: flex;
  width: 40%;
  height: 95%;
  border-radius: 10px;
  background-color: var(--component-background);
  border: 1px solid var(--component-color);
  color: white;
}

.sidebar label {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

.sidebar input {
  margin-top: 0.5em;
  background-color: #404040;
  border: none;
  border-radius: 8px;
  height: 30px;
  padding: 5px;
  color: white;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

@media (max-width: 1200px) {
  .app {
    flex-direction: column;
  }

  .sidebar,
  .resume {
    width: 100%;
  }
}