:root {
  --component-color: #262626;
  --component-background: #171717;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 80vh;
  font-family: "RobotoCustom";
  color: white;
}

.app .app-sidebar {
  width: 80%;
  height: 80%;
  gap: 2em;
  max-width: 1000px;
}

.app .app-sidebar h1 {
  padding: 0.5em;
  margin-left: 0.25em;
}

.sidebar {
  display: flex;
  border-radius: 10px;
  background-color: var(--component-background);
  border: 1px solid var(--component-color);
  color: white;
}

@media (max-width: 1200px) {
  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 3fr;
  }
}