.sidebar label {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

.sidebar input, textarea {
  margin-top: 0.5em;
  background-color: #322e2d;
  border: none;
  border-radius: 8px;
  height: 40px;
  padding: 10px;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
  width: 100%;
}

form .personal-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

.full-row {
  width: calc(100% - 4em);
}

textarea {
  resize: none;
  height: 100%;
}

.textarea-row {
  height: 150px;
}

.sumbit-container {
  display: flex;
  justify-content: end;
  width: 100%;
}

.send-button {
  border: none;
  padding: 8px 15px 8px 15px;
  border-radius: 4px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 2em;
  font-weight: 400;
}
