@font-face {
  font-family: "RobotoCustom";
  src: url("./fonts/Roboto/Roboto-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #171717;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

hr {
  width: 100%;
  margin-bottom: 2em;
}

#root {
  display: flex;
  height: auto;
}